<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% csrf_token %}
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog with Django Framework 1.6">
    <meta name="author" content="Tony Lattke">

    <title>Django - Blog {% block title_web %} {% endblock title_web %}</title>

    <!-- This template com from http://startbootstrap.com/all-templates -->
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type='image/x-icon' href="{{ STATIC_URL }}img/favicon.ico">
</head>

<body>
    <div class="container">
        
        <a href="/home">
            <img id="banner" src="http://placehold.it/1170x300" class="img-responsive">
        </a>

        <div class="row">
            <div class="col-lg-8">
                {% block principal_content %}
                {% endblock principal_content %}
            </div>

            <div class="col-lg-4">
                {% block sidebar_content %}
                <!-- list of years -->
                <div class="well">
                    <h4>Last posts</h4>
                    <ul class="list-unstyled">
                        {% for y in years %}
                        <li>
                            <a href="/year/{{y}}">{{y}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- list of years -->
                {% endblock sidebar_content %}

                {% if user.is_authenticated %}
                <!-- New Post -->
                <div class="well">
                    <a href="/post/new">Create Post</a>
                </div>
                <!-- New Post -->

                <!-- Logout -->
                <div class="well">
                    <a href="/logout">Logout</a>
                </div>
                <!-- Logout -->
                {% endif %}

                <div class="well">
                    <a href="/posts.json">Export all posts to Json</a>
                </div>
                

                <div class="well">
                    <img src="{{ STATIC_URL }}img/logo-tony.png" id="logo">
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Developed by Tony Lattke - Django Blog 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>

    {% block javascript_content %}
    {% endblock javascript_content %}

</body>

</html>