{% extends "base.html" %}

{% block title_web %} : {{post.name}} {% endblock title_web %}

<!-- ########################## principal_content ######################### -->
{% block principal_content %}

<h1 id="{{post.id}}">
    {{post.name}} 
    {% if user.is_authenticated %}
        <a class="btn" href="/post/edit/{{post.id}}">Edit</a>
        <a class="btn btn-primary pull-right delete_post">X</a>
    {% endif %}
</h1>
<p>
    <span class="glyphicon glyphicon-time"></span> Posted on {{post.date}}
</p>

{{post.text|linebreaks}}

<hr>

<!-- the comment box -->
<div class="well">
    <form role="form" method="post" action="/make_comment/{{post.id}}">
        {% csrf_token %}
        <h4>Name:</h4>
        <div class="form-group">
            <textarea name="comment_name" class="form-control" rows="1"></textarea>
        </div>
        <h4>Leave a Comment:</h4>
        <div class="form-group">
            <textarea name="comment_text" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<hr>

<!-- the comments -->
{% if comments %}
    {% for comment in comments %}
        <h3> {{comment.name}}
            <small>{{comment.date}}</small>
        </h3>
        {{comment.text|linebreaks}}
    {% endfor %}
{% else %}
    <p>No comments</p>
{% endif %}
{% endblock principal_content %}