{% extends "base.html" %}

{% block title_web %} :{{current_year}} {% endblock title_web %}

<!-- ########################## principal_content ######################### -->
{% block principal_content %}
{% if posts %}
    {% for post in posts %}
        {% if user.is_authenticated %}
            <form method="post" id="form_delete_post" action="post/delete/{{post.id}}">
            {% csrf_token %}
            </form>
        {% endif %}
        <h1 id="{{post.id}}">
            <a href="/post/{{post.id}}">{{post.name}}</a>
            {% if user.is_authenticated %}        
                <a class="btn" href="/post/edit/{{post.id}}">Edit</a>
                <a class="btn btn-primary pull-right delete_post">X</a>
            {% endif %}
        </h1>
        <p>
            <span class="glyphicon glyphicon-time"></span> Posted on {{post.date}}
        </p>
        {{post.text|truncatewords_html:50}}
        </br>
        </br>
        <a class="btn btn-primary" href="/post/{{post.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
    {% endfor %}
{% else %}
    <p>No posts</p>
{% endif %}
<!-- pager -->
<ul class="pager">
    {% if older.status %}
    <li class="previous">
        <a href="/year/{{current_year}}/page={{older.number}}">&larr; Older</a>
    </li>
    {% endif %}

    {% if newer.status %}
    <li class="next">
        <a href="/year/{{current_year}}/page={{newer.number}}">Newer &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endblock principal_content %}

<!-- ########################## javascript_content ######################## -->
{% block javascript_content %}
<script>
    var current_year = {{current_year}};
</script>

<script src="{{ STATIC_URL }}js/year_posts.js"></script>
{% endblock javascript_content %}